.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 672px;
  margin: auto;
  padding-top: 30px;
}

.about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-text{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.name, .position, .my-info, .title, .project, .tag-wrapper, .subtitle, .skill{
  font-family: 'Inter', sans-serif;
}

.name{
  font-size: 4.5em;
}

.position{
  font-size: 1.9em;
  font-weight: 500;
  margin-bottom: 5px;
}

.avatar{
  width: 120px;
  border-radius: 50%;
}

.avatar:hover{
  cursor: pointer;
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.my-info{
  font-size: 1.6em;
  white-space: pre-wrap;
  color: #444444;
}

.title{
  font-size: 3em;
  margin-top: 35px;
}

.swiper-container{
  margin-top: 15px;
}

.mySwiper{
  padding: 0px 5px 20px 6px;
}

.swiper-container .mySwiper a{
  color: #000000;
  text-decoration: none;
  margin: 5px;
}

.project{
  min-height: 250px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  border: 4px solid transparent;
  text-align: left;
  font-size: 1.3em;
  user-select: none;
}

.color1{
  background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(to right, #4983d3, #72b4cb) border-box;
}

.color2{
  background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(to right, #72b4cb, #4983d3) border-box;
}

.project:hover{
  background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(to right, #808080, #000000) border-box;
  box-shadow: #00000080 0px 2px 4px, #00000066 0px 7px 13px -3px, #0000004d 0px -3px 0px inset;
}

.project-desc{
  white-space: pre-wrap;
}

.tag-wrapper{
  display: flex;
  flex-flow: row wrap;
  gap: 5px 8px;
  margin-top: auto;
  margin-bottom: 3px;
  max-width: 100%;
  min-height: 25px;
  max-height: 110px;
}

.tag{
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 8px;
  height: 24px;
}

.typescript, .postgress, .python{
  background-color: #2973bd;
}

.css, .twitter{
  background-color: #55aae7;
}

.node, .mongo, .spring, .sharp, .puppeteer{
  background-color: #3c873a;
}

.nest{
  background-color: #e0234e;
}

.angular, .passport{
  background-color: #BB35F4;
}

.aws, .javascript, .material, .jwt{
  background-color: #ffbb00;
}

.express, .multer{
  background-color: #000000;
}

.html{
  background-color: #e36826;
}

.java{
  background-color: #e11f21;
}

.techno-skills{
  margin-top: 4px;
}

.technologies-full, .skills-full{
  margin-top: 14px;
  text-align: center;
  padding: 14px 0px 14px 0px;
  border-radius: 10px;
  border: 4px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(to right, #4983d3, #72b4cb) border-box;
}

.subtitle{
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
}

.tecno-p{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.tecno-img{
  height: 30px;
}

.skills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px 0px;
  padding: 20px 10px 10px 10px;
}

.skill{
  font-size: 1.6em;
  font-weight: 500;
  width: 25%;
}

.contact{
  margin-top: 25px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0px 15px 0px;
  max-height: 112px;
}

.contact-title{
  margin-top: 80px;
  padding-top: 30px;
  border-top: 1px solid #e9e9e9;
  text-align: center;
}

.dark .contact-title{
  border-top: 1px solid #2c2c2c;
}

.contact-img{
  height: 80px;
  border: 3px solid transparent;
  transition: all .1s ease;
}

.contact-img:hover{
  height: 90px;
}

.dark{
  background-color: #1b1b1b;
}

.dark .title, .dark .name, .dark .project h2{
  color: white;
}

.dark .position, .dark .subtitle, .dark .technologies-full .subtitle{
  color: rgb(234, 234, 234);
}

.dark .my-info, .dark .project .project-desc, .dark .technologies-full p,  .dark .skills{
  color: rgb(156, 156, 156);
}

.dark .technologies-full, .dark .skills-full, .dark .contact{
  background: linear-gradient(#1b1b1b, #1b1b1b) padding-box,
              linear-gradient(to right, #4983d3, #72b4cb) border-box;
}

.dark .color1{
  background: linear-gradient(#1b1b1b, #1b1b1b) padding-box,
              linear-gradient(to right, #4983d3, #72b4cb) border-box;
}

.dark .color2{
  background: linear-gradient(#1b1b1b, #1b1b1b) padding-box,
              linear-gradient(to right, #72b4cb, #4983d3) border-box;
}

.dark .project:hover{
  background: linear-gradient(#1b1b1b, #1b1b1b) padding-box,
              linear-gradient(to right, #808080, #000000) border-box;
  box-shadow: #00000080 0px 2px 4px, #00000066 0px 7px 13px -3px, #0000004d 0px -3px 0px inset;
}

.light{
  background-color: #ffffff;
}

.dark-mode-btn{
  margin-left: 5px;
  border: 2px solid transparent;
  height: 38px;
  width: 38px;
  padding: 5px;
  border-radius: 10px;
  background-color: #e9e9e9;
}

.dark-mode-btn:hover{
  border: 2px solid #999999;
  cursor: pointer;
}

.dark .dark-mode-btn{
  background-color: #555555;
  color: #ffffff;
}

@media screen and (width <= 768px){
  .container{
    max-width: 430px;
    margin: auto;
  }
  .name{
    font-size: 3.2em;
  }
  .position{
    font-size: 1.7em;
  }
  .my-info{
    font-size: 1.5em;
  }
  .avatar{
    width: 100px;
  }
  .dark-mode-btn{
    height: 32px;
    width: 32px;
    padding: 3px;
  }
  .title{
    font-size: 2.6em;
    margin-top: 30px;
  }
  .swiper-container{
    margin-top: 8px;
  }
  .project{
    min-height: 270px;
  }
  .project h2{
    font-size: 1.45em;
  }
  .tecno-p{
    padding: 0px 40px;
    flex-wrap: wrap;
  }
  .skill{
    width: 50%;
    font-size: 1.6em;
  }
  .contact-img{
    height: 65px;
  }
  .contact-img:hover{
    height: 75px;
  }
  .contact-title{
    margin-top: 60px;
    padding-top: 20px;
  }
}

@media screen and (width <= 460px){
  .container{
    max-width: 350px;
  }
  .about{
    flex-direction: column-reverse;
  }
  .position{
    margin-bottom: 5px;
  }
  .dark-mode-btn{
    height: 38px;
    width: 38px;
    padding: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .project{
    min-height: 240px;
  }
  .project h2{
    font-size: 1.5em;
  }
  .project .project-desc{
    font-size: 1.1em;
  }
  .tecno-p{
    padding: 0px 32px;
  }
}
