<div [ngClass]="dark === true ? 'dark' : 'light'">
  <div class="container">
    <div class="about">
      <div class="about-text">
        <h1 class="name">Dionel Martinez
          <button type="button" class="dark-mode-btn" (click)="dark = !dark;">
            <svg *ngIf="!dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 text-gray-800 dark:text-gray-200">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
            </svg>
            <svg *ngIf="dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 text-gray-800 dark:text-gray-200">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path>
            </svg>
          </button>
        </h1>
        <p class="position">Full Stack Developer</p>
        <p class="my-info">20 year old programmer from Argentina.
Studying web development since 2020.
I love to work with cloud services and automate tasks.
        </p>

      </div>
      <div class="about-img">
        <img [src]="'assets/images/' + avatar + '.webp'" class="avatar" (click)="switchAvatar()">
      </div>
    </div>

    <h1 class="title">My projects</h1>
      <div class="swiper-container">
        <swiper [config]="swiperConfig" class="mySwiper">

          <ng-template swiperSlide>
            <a href="https://gawrmarket.web.app" target="_blank">
              <div class="project color1">
                <h2>Gawr Marketplace (Front)</h2>
                <p class="project-desc">Angular e-commerce.
Customize your user, add products to your cart, create posts and comment on them.
                </p>
                <p class="tag-wrapper">
                  <span class="tag angular">Angular</span>
                  <span class="tag typescript">TypeScript</span>
                  <span class="tag html">HTML</span>
                  <span class="tag css">CSS</span>
                  <span class="tag material">Angular Material</span>
                </p>
              </div>
            </a>
          </ng-template>

          <ng-template swiperSlide>
            <a href="https://github.com/Dioonel/Nest-e-commerce" target="_blank">
              <div class="project color2">
                <h2>Gawr Marketplace (Back)</h2>
                <p class="project-desc">REST API for Gawr Market.</p>
                <p class="tag-wrapper">
                  <span class="tag node">NodeJS</span>
                  <span class="tag nest">NestJS</span>
                  <span class="tag typescript">TypeScript</span>
                  <span class="tag mongo">Mongo</span>
                  <span class="tag passport">Passport</span>
                  <span class="tag jwt">JWT</span>
                </p>
              </div>
            </a>
          </ng-template>

          <ng-template swiperSlide>
            <a href="https://uvi-dionel.web.app" target="_blank">
              <div class="project color2">
                <h2>Landing Page</h2>
                <p class="project-desc">Technical assessment from Uvi.</p>
                <p class="tag-wrapper">
                  <span class="tag angular">Angular</span>
                  <span class="tag typescript">TypeScript</span>
                  <span class="tag html">HTML</span>
                  <span class="tag css">CSS</span>
                </p>
              </div>
            </a>
          </ng-template>

          <ng-template swiperSlide>
            <a href="https://github.com/Dioonel/Twitter-bot-template-No-API" target="_blank">
              <div class="project color1">
                <h2>Twitter Bot</h2>
                <p class="project-desc">Template for a Twitter bot, without using Twitter's API.
                </p>
                <p class="tag-wrapper">
                  <span class="tag javascript">JavaScript</span>
                  <span class="tag puppeteer">Puppeteer</span>
                  <span class="tag twitter">Twitter</span>
                </p>
              </div>
            </a>
          </ng-template>


          <ng-template swiperSlide>
            <a href="https://github.com/Dioonel/Portafolio-INTI-Frontend" target="_blank">
              <div class="project color1">
                <h2>Argentina Programa Portafolio (Front)</h2>
                <p class="project-desc">Angular portfolio.
Final project for #YoProgramo in Argentina Programa course.
                </p>
                <p class="tag-wrapper">
                  <span class="tag angular">Angular</span>
                  <span class="tag typescript">TypeScript</span>
                  <span class="tag html">HTML</span>
                  <span class="tag css">CSS</span>
              </div>
            </a>
          </ng-template>

          <ng-template swiperSlide>
            <a href="https://github.com/Dioonel/Portafolio-INTI-Backend" target="_blank">
              <div class="project color2">
                <h2>Argentina Programa Portafolio (Back)</h2>
                <p class="project-desc">REST API for portfolio.
Final project for #YoProgramo in Argentina Programa course.
                </p>
                <p class="tag-wrapper">
                  <span class="tag spring">Spring Boot</span>
                  <span class="tag java">Java</span>
                  <span class="tag postgres">Postgres</span>
                  <span class="tag jwt">JWT</span>
              </div>
            </a>
          </ng-template>

          <ng-template swiperSlide>
            <a href="https://diolingo-jp.web.app" target="_blank">
              <div class="project color1">
                <h2>Diolingo (Front)</h2>
                <p class="project-desc">App to save japanese vocabulary and help me study the language with minigames.</p>
                <p class="tag-wrapper">
                  <span class="tag angular">Angular</span>
                  <span class="tag typescript">TypeScript</span>
                  <span class="tag html">HTML</span>
                  <span class="tag css">CSS</span>
                  <span class="tag material">Angular CDK</span>
                </p>
              </div>
            </a>
          </ng-template>

          <ng-template swiperSlide>
            <a href="https://github.com/Dioonel/Japanese-Backend" target="_blank">
              <div class="project color2">
                <h2>Diolingo (Back)</h2>
                <p class="project-desc">API for Diolingo's website.</p>
                <p class="tag-wrapper">
                  <span class="tag node">NodeJS</span>
                  <span class="tag typescript">TypeScript</span>
                  <span class="tag express">Express</span>
                  <span class="tag mongo">Mongo</span>
                  <span class="tag passport">Passport</span>
                  <span class="tag jwt">JWT</span>
              </div>
            </a>
          </ng-template>

          <ng-template swiperSlide>
            <a href="https://github.com/Dioonel/e-Commerce-API-Scuffed" target="_blank">
              <div class="project color2">
                <h2>E-commerce (old)</h2>
                <p class="project-desc">My first complex project, later remastered as Gawr Market.</p>
                <p class="tag-wrapper">
                  <span class="tag node">NodeJS</span>
                  <span class="tag express">Express</span>
                  <span class="tag mongo">Mongo</span>
                  <span class="tag passport">Passport</span>
                  <span class="tag jwt">JWT</span>
                  <span class="tag javascript">JavaScript</span>
                  <span class="tag html">HTML</span>
                  <span class="tag css">CSS</span>
              </div>
            </a>
          </ng-template>

        </swiper>
      </div>

    <h1 class="title">Technologies and skills</h1>
    <div class="techno-skills">
      <div class="technologies-full">
        <p class="subtitle">Main technologies</p>
        <p class="tecno-p">
          <span class="tecno-span"><img src="assets/images/jslogo.webp" class="tecno-img" alt="JavaScript" title="JavaScript"></span>
          <span class="tecno-span"><img src="assets/images/tslogo.webp" class="tecno-img" alt="TypeScript" title="TypeScript"></span>
          <span class="tecno-span"><img src="assets/images/nodelogo.webp" class="tecno-img" alt="Node.js" title="Node.js"></span>
          <span class="tecno-span"><img src="assets/images/expresslogo.webp" class="tecno-img" alt="Express" title="Express"></span>
          <span class="tecno-span"><img src="assets/images/nestlogo.webp" class="tecno-img" alt="NestJS" title="NestJS"></span>
          <span class="tecno-span"><img src="assets/images/mongologo.webp" class="tecno-img" alt="MongoDB" title="MongoDB"></span>
          <span class="tecno-span"><img src="assets/images/passportlogo.webp" class="tecno-img" alt="Passport" title="Passport"></span>
          <span class="tecno-span"><img src="assets/images/jwtlogo.webp" class="tecno-img" alt="JWT" title="JWT"></span>
          <span class="tecno-span"><img src="assets/images/angularlogo.webp" class="tecno-img" alt="Angular" title="Angular"></span>
          <span class="tecno-span"><img src="assets/images/htmllogo.webp" class="tecno-img" alt="HTML" title="HTML"></span>
          <span class="tecno-span"><img src="assets/images/csslogo.webp" class="tecno-img" alt="CSS" title="CSS"></span>
          <span class="tecno-span"><img src="assets/images/gitlogo.webp" class="tecno-img" alt="Git" title="Git"></span>
          <span class="tecno-span"><img src="assets/images/awslogo.webp" class="tecno-img" alt="Amazon Web Services" title="Amazon Web Services"></span>
          <span class="tecno-span"><img src="assets/images/herokulogo.webp" class="tecno-img" alt="Heroku" title="Heroku"></span>
          <span class="tecno-span"><img src="assets/images/jasminelogo.webp" class="tecno-img" alt="Jasmine" title="Jasmine"></span>
        </p>
        <p style="font-family: 'Inter'; font-size: 1.5em;">However, I've also used PostgreSQL, MySQL, Docker, Jest, among others!</p>
      </div>

      <div class="skills-full">
        <p class="subtitle">Main skills</p>
        <div class="skills">
          <span class="skill">Scrum 🏃‍♂️</span>
          <span class="skill">Self learning 📚</span>
          <span class="skill">Teamwork 🤝</span>
          <span class="skill">Problem solving 🧩</span>
          <span class="skill">Logical thinking 📊</span>
          <span class="skill">Adaptability 🧬</span>
          <span class="skill">English & Spanish 🌐</span>
          <span class="skill">Image edition 🎨</span>
        </div>
      </div>
    </div>

    <!-- <h1 class="title">Achievements</h1>
    <div class="achievements">
      <div class="achievement arg-pro-color">
        <h2 class="achievement-title">Argentina Programa</h2>
        <p class="achievement-desc">Full Stack Web Development courses promoted by the Argentine government.</p>
        <p class="achievement-date">2022 - 2023</p>
        <p class="achievement-institution">Provided by: <strong>INTI</strong></p>
      </div>
      <div class="achievement platzi-color">
        <h2 class="achievement-title">Desarrollo Backend con JavaScript</h2>
        <p class="achievement-desc">Back-end Web Development career with JavaScript.
  +50 courses in total.</p>
        <p class="achievement-date">2021 - 2022</p>
        <p class="achievement-institution">Provided by: <strong>Platzi</strong></p>
      </div>
      <div class="achievement cambridge-color">
        <h2 class="achievement-title">First Certificate in English B2</h2>
        <p class="achievement-desc">English language certificate (B2 level exam).
  Studied English for +9 years.</p>
        <p class="achievement-date">2019</p>
        <p class="achievement-institution">Provided by: <strong>Cambridge</strong></p>
      </div>
    </div> -->
    <h1 class="title contact-title">Contact me</h1>
    <div>
      <div class="contact">
        <div class="contact-item">
          <a href = "mailto:dionelmartinezb@gmail.com" target="_blank">
            <img src="assets/images/mailicon.webp" class="contact-img" alt="Email" title="Email">
          </a>
        </div>
        <div class="contact-item">
          <a href="https://www.linkedin.com/in/dionelcm/" target="_blank">
            <img src="assets/images/linkedinicon.webp" class="contact-img" alt="LinkedIn" title="LinkedIn">
          </a>
        </div>
        <div class="contact-item">
          <a href="https://wa.me/542920277235" target="_blank">
            <img src="assets/images/whatsappicon.webp" class="contact-img" alt="WhatsApp" title="WhatsApp">
          </a>
        </div>
        <div class="contact-item">
          <a href="https://t.me/Dioonel" target="_blank">
            <img src="assets/images/telegramicon.webp" class="contact-img" alt="Telegram" title="Telegram">
          </a>
        </div>
      </div>

    </div>

  </div>

</div>
